/*Reset todos los margin and padding*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.centrar-texto{
  text-align: center;
  margin: 5px 0;
  padding: 0;
}


/*Cambia letra y margin de las flechas*/
span {
  font-size: 5vw;
  color: rgb(3, 90, 250);
  text-align: center;
  padding: 0% 3vw;
}

.owl-nav {
  text-align: center;
}

.owl-dots{
 padding: 0;
 height: 5px;
}
/*Termina cambio letra y margin de las flechas*/
